* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-color: hsl(213, 19%, 18%);
}
.flex {
    display: flex;
    align-items: center;
    gap:  2.2rem;
}
/***MAIN CONTAINER******/
.main-container {
    width: 30%;
    margin: 15rem auto 5rem auto;
    background-color: hsl(216, 12%, 8%);
    border-radius: 15px;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.5);
    padding: 3rem 2rem 2rem 2rem;
   display: block;
}
.icon-star {
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%) ;
    height: 30px;
    width: 30px;
    padding: 0.8rem;
}
h1 {
    color: hsl(0, 0%, 100%);
    margin: 2rem 0;
}
.main-text {
    color: hsl(0, 0%, 100%);
    margin-bottom: 2rem;
    color: hsl(217, 12%, 63%);
}
.number {
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%) ;
    padding: 1.7rem;
    color: hsl(217, 12%, 63%);
    cursor: pointer;
}
.focus {
    color: hsl(0, 0%, 100%);
    background-color: hsl(216, 12%, 54%);
}
.numbers {
    margin-bottom: 2rem;
}
.number:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}
.btn {
    width: 90%;
    background-color: hsl(25, 97%, 53%);
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;

}
.btn:hover {
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}

/***THANK YOU CONTAINER*****/
.main-container-back {
    width: 30%;
    margin: 15rem auto 5rem auto;
    background-color: hsl(216, 12%, 8%);
    border-radius: 15px;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.5);
    padding: 3rem 2rem 2rem 2rem;
    display: none;
    text-align: center;
    opacity: 0.7;
}
.img-back {
    text-align: center;
    margin-bottom: 1rem;
}
.selected {
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    padding: 1rem;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 2rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media only screen and (max-width:  100em) {
    html {
        font-size:  70%;
    }
    .main-container,
    .main-container-back {
        width: 30%;
    }
}
@media only screen and (max-width:  80em) {
    html {
        font-size:  70%;
    }
    .main-container,
    .main-container-back {
        width: 50%;
    }
    .btn {
        width: 100%;
    }
    .selected {
        width:  60%;
    }
}

@media only screen and (max-width: 37em) {
    html {
        font-size: 60%;
    }
    body {
        width: 375px;
    }
    .main-container,
    .main-container-back {
        width: 90%;
    }
}